<script src="https://www.mercadopago.com/v2/security.js" view=""></script>
<%= render 'header' %>
<div class="sm:flex sm:items-end sm:space-x-6">
  <table class="border-collapse">
    <thead>
      <tr>
        <th class="px-2 border bg-gray-100">Item</th>
        <th class="px-2 border bg-gray-100">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each_with_index do |product, index| %>
        <tr>
          <td class="px-2 py-1 border"><%= product.name %></td>
          <td class="px-2 py-1 border"><%= product.price %></td>
          <td class="px-2 text-xs text-blue-600"><%= button_to 'Remove', cart_remove_path(index:) %></td>
        </tr>
      <% end %>
      <tr>
        <td class="px-2 py-2 border font-medium">Total</td>
        <td class="px-2 py-2 border font-medium"><%= @products.map(&:price).sum %></td>
      </tr>
    </tbody>
  </table>
  <%= button_to 'Pagar la compra', payments_create_path, class: "mt-3 rounded-lg p-2 bg-blue-600 text-white font-medium cursor-pointer" %>
</div>
